
.containers{
    border: 1px solid lightslategray;
}

#navbar{
    width: 1000px;
    margin: 0;
    margin-left: 20%; 
    margin-right: 20%; 

}
.containers-games {
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 70px;
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

#container-gamepicker{
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 70px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 22px;
}