
#nav-container{
    height: 112px;
    display: flex;
    
}


.containers{
    border: 2px solid black;
}

.containers-games {
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 70px;
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

#container-gamepicker{
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 70px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 22px;
}